@font-face {
  font-family: friends;
  src: url("./assets/friends_font.TTF");
}

:root{
  --theme-color: #a188c9;
  font-size: 1.6vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 1rem 2rem;
  background-image: url("./assets/background.jpg");
  background-size: cover;
}

.main {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: friends;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 3px;
  min-width: max-content;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 7vh;
  cursor: pointer;
}

.help {
  cursor: pointer;
  width: 3rem;
}

.cards {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(5, min-content);
  gap: 3.5vh;
  flex: 1;
}

.main > div:nth-child(2) {
  display: flex;
  width: 17vw;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
  font-family: friends;
  letter-spacing: 2px;
}

.help-content {
  color: white;
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: none;
}

.help:hover + .help-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-container {
  perspective: 1000px;
}

.card {
  width: 13rem;
  height: 17rem;
  border-radius: 0.5rem;
  font-family: friends;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition:
    transform 1s,
    box-shadow 0.4s;
  will-change: contents;
}

.card:not(.flipped):hover {
  box-shadow: 0 0 8px 2px #fff;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}

.card-front {
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-color);
  background-size: cover;
}

.card-back {
  background-color: var(--theme-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card-front img {
  width: 12rem;
  height: 15rem;
  border-radius: 0.4rem;
}

.card-back img {
  width: 70%;
}
