@font-face {
  font-family: friends;
  src: url("./assets/friends_font.TTF");
}

:root {
  --theme-color: #a188c9;
  font-size: 1.6vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  padding: 1rem 2rem;
  background-image: url("./assets/background.jpg");
  background-size: cover;
}

.main {
  width: 100%;
  display: flex;
  gap: 1rem;
  min-width: min-content;
}

.main.loading {
  display: none;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: friends;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 3px;
  min-width: max-content;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 7vh;
  cursor: pointer;
}

.help {
  cursor: pointer;
  width: 3rem;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  align-self: center;
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cards {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(5, min-content);
  gap: 3.5vh;
  flex: 1;
}

.main > div:nth-child(2) {
  display: flex;
  width: 17vw;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
  font-family: friends;
  letter-spacing: 2px;
}

.help-content {
  color: white;
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: none;
}

.help:hover + .help-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-container {
  perspective: 1000px;
}

.card {
  width: 13rem;
  height: 17rem;
  border-radius: 0.5rem;
  font-family: friends;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition:
    transform 1s,
    box-shadow 0.4s;
  will-change: contents;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}

.card-front {
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-color);
  background-size: cover;
}

.card-back {
  background-color: var(--theme-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card-front img {
  width: 12rem;
  height: 14.5rem;
  border-radius: 0.4rem;
}

.card-back img {
  width: 70%;
}

@media (max-width: 1050px) and (min-height: 1000px) {
  :root {
    font-size: 1.2vmin;
  }
  .cards {
    grid-template-columns: repeat(3, min-content);
  }
}

@media (max-width: 950px) {
  :root {
    font-size: 1.3vmin;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 1.15vmin;
  }
}

@media (max-width: 600px) and (min-height: 700px) {
  .cards {
    grid-template-columns: repeat(3, min-content);
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 1.6vmin;
  }
  #root {
    max-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
  }

  .header {
    flex-direction: column;
  }

  .scores {
    font-size: 2rem;
  }

  .main {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .main > div:nth-child(2) {
    width: 100%;
    align-self: flex-end;
    flex-direction: row-reverse;
  }

  .cards {
    grid-template-columns: repeat(3, min-content);
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 1.3vmin;
  }
}
